body
{
	background-image: url(https://www.yarkiy.ru//system/uploads/preview/good/24444/1473_85_view.jpg);
	background-size: contain;
}

.text
{
	color: white;
	text-align: center;
	font-family: Luminari, fantasy;
	font-size: 70px;
	text-shadow: 1px 1px 2px black;
	height: 70px;
	width: 100%;
}

.gal
{
	height: 300px;
	display: block;
	margin: auto;
	margin-top: 50px;
}

.logo
{
	position: fixed;
	top: 0;
	right: 5px;
	width: 70px;
}

.hyper
{
	position: fixed;
	top: 0;
	left: 5px;
	color: #521717;
	font-family: Arial Narrow, sans-serif;
	font-size: 20px;
}